### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
gradle*
build/
.gradle/
src/main/gen/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/